/* reference: https://www.sanwebe.com/2014/08/css-html-forms-designs*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

form {
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}

form h1 {
    padding: 5px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #111;
    margin: -16px -16px 16px -16px;
}

form input[type="text"] {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
}

form input[type="text"]:focus {
    box-shadow: 0 0 5px #f0db4f;
    padding: 3%;
    border: 1px solid #f0db4f;
}

form input[type="submit"],
form input[type="button"] {
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #007bff;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
    background: #0069d9;
    cursor: pointer;
}

form input.success {
    border-color: #c3e6cb
}

form input.error {
    border-color: #e74c3c
}

form small {
    color: #e74c3c;
    margin-bottom: 2%;
    visibility: visible;
}